* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: rgb(200, 200, 219);
}

#header {
    background-color: darkslategray;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a {
    text-decoration: inherit;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 3rem;
    letter-spacing: 1px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 18rem;
    margin-top: 8rem;
    margin-left: 40%;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#formulario {
    background-color: rgb(255, 255, 255);;
}

.input, .label {
    display: flex;
    color: darkslategrey;
    font-size: 18px;
    flex-direction: column;
    margin-top: 8px;
}

.input {
    padding-left: 5px;
    border-radius: 8px;
    border: 1px solid black;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(46, 46, 46);
}

#botao {
    display: flex;
    height: 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 24px;
    background-color: rgb(74, 74, 194);
    color: white;
    border-radius: 6px;
    font-size: 18px;
}

#botao:hover {
    background-color: darkblue;
    border-radius: 10px;
    transition: 1.5s;
}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 9px;
    letter-spacing: 1px;
}

#obs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-top: 8px;

}

footer {
    bottom: 0;
    position: fixed;
    height: 3.5rem;
    background-color: darkslategray;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.inputError {
    border: 2px solid red;
}
.inputSucess {
    border: 1px solid black;
}

img {
    height: 40px;
    margin-right: 2rem;
}

@media only screen and (max-width: 1080px) {

    .container {
        padding: 10px;
        position: absolute;
        top: 16rem;
        left: 3.5rem;
        transform: translateY(-50%) translateX(-50%);
        width: 17rem;
        height: 24rem;
    }

    img {
        margin-right: 0.7rem;
    }

    h1 {
        margin-right: 40px;
        margin-top: 25px;
        font-size: 29px;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-top: 20;
    }

    .label {
        margin-top: 20px;
        font-size: 20px;
    }

    .input {
        height: 26px;
        border-radius: 15px;
        padding-left: 8px;
    }

    a {
        font-size: 20px;
    }

    #obs {
        font-size: 20px;
    }
}